.row {
    width: 90%;
    margin: 0 auto;
    @include clearfix;

    .col-1-of-2 {
        font-size: 1.6rem;
        width: 100%;
    }
}


@media screen and (min-width:768px) {
    .row {
        max-width: $grid-width;

        .col-1-of-2 {
            float: left;
            font-size: 1.6rem;
            width: 50%;
        }
    }
}