// font-family: 'Fraunces', serif;
// font-family: 'Montserrat', sans-serif;

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}


h1 {
    font-family: 'Fraunces', serif;
    font-size: 3.2rem;
    color: $color-accent;
}

p {
    line-height: 1.6;
    color: $color-gray;
}